* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    font-size: 10rem; /* Ajuste o tamanho do texto conforme necessário */
    color: #333; /* Cor do texto */
    margin: 0;
}
